header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px Black solid;
  padding: 0 0 20px 0;
}

.masthead {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
}

.masthead span {
    color: MediumAquamarine;
    padding-left: 30px;
}

header nav {
  display: flex;
}

header nav span {
  display: inline-block;
  padding: 0 30px 0 0;
}

header a {
  color: Black;
}
