header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 1px Black solid;
  padding: 0 0 20px 0;
}

.masthead {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
}

.masthead span {
    color: MediumAquamarine;
    padding-left: 30px;
}

header nav {
  display: flex;
}

header nav span {
  display: inline-block;
  padding: 0 30px 0 0;
}

header a {
  color: Black;
}

.maincontainer {
  display: flex;
  width: 1232px;
  margin: 0 auto;
  padding-top: 116px;
}

.column {
  border: 1px Black solid;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.mainheadline {
  border: 1px Black solid;
}

.mainimage {

}

.headline {
  border: 1px Black solid;
}

.story {
  border: 1px Black solid;
}

p.storytext  {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.newsbites {
  border: 1px Black solid;
}

.bite {

}
